.DS_Store
.vscode/
*.swp
*~
Thumbs.db
venv/
.venv/
env/
__pycache__/
*.pyc
dist/
build/
*.egg-info/
runs/
model/*.pt 
*.pt 
*.original
*.original_real
*.bak
test/*.log
*.iml
.idea/
.env
*.log
static/uploads/
